# WeChat miniprogram local/private files
project.private.config.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
miniprogram_npm/
.venv/

# Python
__pycache__/
*.py[cod]
db.sqlite3
.env
*.env
celerybeat-schedule

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
